@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
::selection {
  color: #fff;
  background: #1890ff;
}
:root{
  --primary-1: #e8eeff;
  --primary-2: #cbd6fe;
  --primary-3: #aebdfd;
  --primary-4: #92a2fb;
  --primary-5: #7d87f9;
  --primary-6: #5a66f9;
  --primary-7: #3946ee;
  --blue-1: #ecf4f9;
  --blue-2: #cfe4f6;
  --blue-3: #b7d6f1;
  --blue-4: #9fc9ed;
  --blue-5: #6faee4;
  --blue-6: #57a0df;
  --blue-7: #3770ba;
  --cyan-1: #e8f6f6;
  --cyan-2: #b5ede8;
  --cyan-3: #88dbd6;
  --cyan-4: #5fcac6;
  --cyan-5: #3cb8b8;
  --cyan-6: #1ea2a6;
  --cyan-7: #138790;
  --green-1: #e9f5ee;
  --green-2: #b6ebc6;
  --green-3: #8ad6a4;
  --green-4: #63c286;
  --green-5: #42ad6d;
  --green-6: #269958;
  --green-7: #19864c;
  --orange-1: #fff7eb;
  --orange-2: #fceab8;
  --orange-3: #f9d788;
  --orange-4: #f7c25a;
  --orange-5: #f4ab2c;
  --orange-6: #f19100;
  --orange-7: #c87100;
  --red-1: #fdeeee;
  --red-2: #fbd0c9;
  --red-3: #f7b3ab;
  --red-4: #f3958e;
  --red-5: #ef7672;
  --red-6: #eb5757;
  --red-7: #c3363b;
  --purple-1: #f8f0fb;
  --purple-2: #ecd5f4;
  --purple-3: #e2c0ef;
  --purple-4: #d8aae9;
  --purple-5: #ce95e4;
  --purple-6: #bb6bd9;
  --purple-7: #9343b6;
  --n00: #fff;
  --n10: #f7fafa;
  --n20: #f9f9fc;
  --n30: #ededf1;
  --n40: #bfc2cf;
  --n50: #868c9f;
  --n60: #535572;
  --n70: #111119;
  --table-bg-color: #fff;
  --card-bg-color: #fff;
  --item-bg-color: #f9f9f9;
  --option-bg-color: #ededf1;
  --option-head-color: #ededf1;
  --select-item-color: #fff;
  --select-text-color: #5a66f9;
  --page-color: #f7fafa;
  --border-color: #ededf1;
  --info-text-color: #868c9f;
  --tab-button-text-color: #fff;
  --sub-text-color: #535572;
  --text-color: #111119;
  --slogan-text-color: #fff;
  --button-text-color: #fff;
  --main-color-10: rgba(90,102,249,0.1);
  --main-color-20: rgba(90,102,249,0.2);
  --main-color: #5a66f9;
  --main-color-deep: #3946ee;
  --graph-bg-color: #f9f9fc;
  --blue-green: #72d8da;
  --blue-green-10: rgba(30,162,166,0.1);
  --blue-green-20: rgba(30,162,166,0.2);
  --blue-green-deep: #1ea2a6;
  --blue: #6ec2f0;
  --blue-10: rgba(63,147,192,0.1);
  --blue-20: rgba(63,147,192,0.2);
  --blue-deep: #3f93c0;
  --green: #5cc489;
  --green-10: rgba(38,153,88,0.1);
  --green-20: rgba(38,153,88,0.2);
  --green-deep: #269958;
  --red: #f37272;
  --red-10: rgba(235,87,87,0.1);
  --red-20: rgba(235,87,87,0.2);
  --red-deep: #eb5757;
  --yellow: #ffd573;
  --yellow-10: rgba(251,173,55,0.1);
  --yellow-20: rgba(251,173,55,0.2);
  --yellow-deep: #fbad37;
  --purple: #d790f0;
  --purple-10: rgba(187,107,217,0.1);
  --purple-20: rgba(187,107,217,0.2);
  --purple-deep: #bb6bd9;
  --brand-black: #151d51;
  --tag-gray: #f2f2f2;
  --dark-gray: #868c9f;
  --dark-gray-10: rgba(134,140,159,0.1);
  --dark-gray-20: rgba(134,140,159,0.2);
  --gray: #ededf1;
  --gray-10: rgba(237,237,241,0.1);
  --gray-20: rgba(237,237,241,0.2);
  --progress-color: rgba(90,102,249,0.6);
  --list-item-box-shadow: 0px 2px 16px rgba(0,0,0,0.1);
  --graph-color-shadow: linear-gradient(180deg,rgba(90,102,249,0.33),hsla(0,0%,100%,0.2));
  --news-bg-color: linear-gradient(180deg,rgba(90,102,249,0.9) -51.82%,rgba(125,143,255,0.9) 136.36%);
  --common-box-shadow: 0px 4px 8px hsla(0,0%,88%,0.4);
  --hover-box-shadow: 0px 4px 10px rgba(90,96,249,0.2);
  --table-shadow: rgba(0,0,0,0.04);
  --filter-selected-border-color: #ab05f2;
  --ant-tooltip-box-shadow: rgba(115,171,172,0.3) 0px 3px 10px;
  --mask-color: rgba(0,0,0,0.2);
  --disabled-icon-color: #868c9f;
  --home-rank-border-color: hsla(0,0%,100%,0.6);
  --disabled-text-color: #bfc2cf;
  --loading-gradient-bg-color-start: linear-gradient(-50deg,rgba(237,237,241,0),rgba(237,237,241,0.95));
  --loading-gradient-bg-color-proc: linear-gradient(-90deg,rgba(237,237,241,0),rgba(237,237,241,0.95));
  --loading-gradient-bg-color-end: linear-gradient(-110deg,rgba(237,237,241,0),rgba(237,237,241,0.95));
  --alert-text-color: #111119;
  --active-trends-bg-color: #f7fafa;
  --not-available-color: #bfc2cf;
}

html[data-theme='dark'] {
  --primary-1: #282a3e;
  --primary-2: #373b60;
  --primary-3: #474e84;
  --primary-4: #5860aa;
  --primary-5: #6a73d1;
  --primary-6: #7d87f9;
  --primary-7: #3946ee;
  --blue-1: #2a333d;
  --blue-2: #3b4b5c;
  --blue-3: #4b647c;
  --blue-4: #5c7f9e;
  --blue-5: #6c9bc1;
  --blue-6: #7cb8e5;
  --blue-7: #a5d4ef;
  --cyan-1: #283d3d;
  --cyan-2: #2b5050;
  --cyan-3: #2d6364;
  --cyan-4: #2c7879;
  --cyan-5: #288d8f;
  --cyan-6: #72d8da;
  --cyan-7: #9ee9e5;
  --green-1: #2b3832;
  --green-2: #345244;
  --green-3: #3d6d56;
  --green-4: #468967;
  --green-5: #50a678;
  --green-6: #5cc489;
  --green-7: #ffe9a2;
  --orange-1: #38342a;
  --orange-2: #5b5138;
  --orange-3: #807046;
  --orange-4: #a89155;
  --orange-5: #d3b264;
  --orange-6: #ffd573;
  --orange-7: #ffe9a2;
  --red-1: #3d2e2f;
  --red-2: #5f3b3e;
  --red-3: #82494c;
  --red-4: #a75659;
  --red-5: #cc6466;
  --red-6: #f37272;
  --red-7: #f8a6a0;
  --purple-1: #3a2d3d;
  --purple-2: #573f5d;
  --purple-3: #9566a3;
  --purple-4: #8339a8;
  --purple-5: #b57bc9;
  --purple-6: #d790f0;
  --purple-7: #e8b2f6;
  --n00: #232329;
  --n10: #14141a;
  --n20: #29292e;
  --n30: #34343d;
  --n40: #5c6276;
  --n50: #868c9f;
  --n60: #c3c3cc;
  --n70: #fff;
  --table-bg-color: #232329;
  --card-bg-color: #232329;
  --time-tag-color: #34343d;
  --option-bg-color: #34343d;
  --option-head-color: #34343d;
  --item-bg-color: #34343d;
  --page-color: #14141a;
  --border-color: #34343d;
  --tab-button-text-color: #232329;
  --info-text-color: #868c9f;
  --sub-text-color: #c3c3cc;
  --text-color: #fcfcff;
  --main-color: #7d87f9;
  --tag-gray: #34343d;
  --main-color-deep: #5a66f9;
  --graph-bg-color: #232329;
  --select-item-color: #7d87f9;
  --select-text-color: #fff;
  --list-item-box-shadow: 0px 2px 16px rgba(0,0,0,0.9);
  --common-box-shadow: unset;
  --hover-box-shadow: 0px 4px 10px rgba(90,96,249,0.2);
  --table-shadow: rgba(0,0,0,0.06);
  --filter-selected-border-color: #d790f0;
  --ant-tooltip-box-shadow: unset;
  --mask-color: rgba(0,0,0,0.6);
  --disabled-text-color: #5c6276;
  --active-trends-bg-color: #14141a;
  --loading-gradient-bg-color-start: linear-gradient(-50deg,rgba(44,44,44,0),rgba(44,44,44,0.95));
  --loading-gradient-bg-color-proc: linear-gradient(-90deg,rgba(44,44,44,0),rgba(44,44,44,0.95));
  --loading-gradient-bg-color-end: linear-gradient(-120deg,rgba(44,44,44,0),rgba(44,44,44,0.95));
  --blue-green: #1ea2a6;
  --blue-green-deep: #72d8da;
  --blue: #3f93c0;
  --blue-deep: #6ec2f0;
  --green: #269958;
  --green-deep: #5cc489;
  --red: #eb5757;
  --red-deep: #f37272;
  --yellow: #fbad37;
  --yellow-deep: #ffd573;
  --purple: #bb6bd9;
  --purple-deep: #d790f0;
  --gray: #34343d;
  --not-available-color: #5c6276;
}

body{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}